table{
    margin: auto;
    width: 350px;
    height: 250px;
    /* border-color: rgb(36, 20, 159); */
    color: rgb(26, 26, 22);
    /* font-size: larger; */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}